@page "/counter"
@using VideoLibrary;

<PageTitle>Counter</PageTitle>

<button @onclick=download>Twoj stary</button>
<input type="text" @bind-value=url/>
<h3>@text</h3>


@code {
    public string url = null;
    public string text = null;

    public void download()
    {
        var config = new ConfigurationBuilder().AddUserSecrets<Program>().Build();
        var tempFileName = Guid.NewGuid().ToString();

        var mp3OutputFolder = config["downloadfolder"];

        text = "Begin";

        var youtube = YouTube.Default;
        var video = youtube.GetVideo(url);

        System.IO.File.WriteAllBytes((mp3OutputFolder + video.FullName + ".mp4"),video.GetBytes());

        text = "Done";

    }

    
}
