@page "/counter"
@using VideoLibrary;
@using YoutubeStuff.Services.Misc.FileService;
@using YoutubeStuff.Services.Misc.YtFileService;
@inject IYtFileService YtFileService;

<PageTitle>Counter</PageTitle>

<button @onclick=download>Twoj stary</button>
<input type="text" @bind-value=url/>
<h3>@text</h3>


@code {
    public string url = null;
    public string text = null;

    public async Task download()
    {
        text = await YtFileService.DownloadAndConvertSingle(url);
    }
}
