@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Here are the avalible modules

<div class="d-flex flex-row flex-wrap mt-2">

    <div class="d-flex flex-column align-content-center justify-content-center p-2 border-2 bg-info">
        <h2>
            <a href="/music">Music</a>
        </h2>
    </div>

    
</div>



